<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List of customers</title>
    <th:block th:replace="/dashboard/layout/head" />
</head>

<body>
    <div class="container-fluid">
        <th:block th:replace="/dashboard/product/header" />

        <div class="content">
            <table id="tbProduct" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <th:block th:replace="dashboard/product/modalCreateProduct" />
    </div>


    <script src="/assets/jquery/jquery-3.7.0.min.js"></script>
    <script src="/assets/jquery/jquery.validate.min.js"></script>
    <script src="/assets/bootstrap/v-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>

    <script src="/assets/js/appBase.js"></script>

    <script>
        const page = {
            urls: {
                getAllCategories: AppBase.API_CATEGORY,
                getAllProducts: AppBase.API_PRODUCT,
                doCreate: AppBase.API_PRODUCT
            },
            elements: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {}
            },
        }

        page.elements.tbProductBody = $('#tbProduct tbody')

        page.dialogs.elements.modalCreateProduct = $('#modalCreateProduct')
        page.dialogs.elements.frmCreateProduct = $('#frmCreateProduct')
        page.dialogs.elements.productTitleCre = $('#productTitleCre')
        page.dialogs.elements.productPriceCre = $('#productPriceCre')
        page.dialogs.elements.productCategoryCre = $('#productCategoryCre')
        page.dialogs.elements.productDescriptionCre = $('#productDescriptionCre')
        page.dialogs.elements.productUnitCre = $('#productUnitCre')

        page.dialogs.elements.canvasCre = $('#canvasCre')
        page.dialogs.elements.context = page.dialogs.elements.canvasCre[0].getContext('2d');
        page.dialogs.elements.wrapper = $("section .wrapper");
        page.dialogs.elements.wrapperContent = $("section .wrapper .content");
        page.dialogs.elements.imagePreview = $("section .image-preview canvas");
        page.dialogs.elements.imageFileCre = $('#imageFileCre')

        page.dialogs.elements.btnCreate = $('#btnCreate')


        page.commands.getAllProducts = () => {
            $.ajax({
                type: 'GET',
                url: page.urls.getAllProducts
            })
                .done((data) => {
                    $.each(data, (index, item) => {
                        const str = page.commands.renderProduct(item);

                        page.elements.tbProductBody.prepend(str)
                    })
                })
                .fail((jqXHR) => {
                    console.log(jqXHR)
                })
        }

        page.commands.getAllCategories = () => {
            $.ajax({
                type: 'GET',
                url: page.urls.getAllCategories
            })
                .done((data) => {
                    $.each(data, (index, item) => {
                        const str = page.commands.renderCategory(item);

                        page.dialogs.elements.productCategoryCre.append(str)
                    })
                })
                .fail((jqXHR) => {
                    console.log(jqXHR)
                })
        }

        page.commands.renderCategory = (obj) => {
            return `<option value="${obj.id}">${obj.title}</option>`
        }

        page.commands.renderProduct = (obj) => {
            const imageUrl = AppBase.DOMAIN_CLOUDINARY + '/' + AppBase.IMAGE_SCALE_W_80_h_60_Q_90 + '/' + obj.avatar.fileFolder + '/' + obj.avatar.fileName;
            return `
                <tr>
                    <td>${obj.id}</td>
                    <td>${obj.title}</td>
                    <td>
                        <img class="product-avatar" src="${imageUrl}" alt="">
                    </td>
                    <td>${obj.price}</td>
                    <td>${obj.quantity}</td>
                    <td>${obj.description}</td>
                    <td>${obj.categoryTitle}</td>
                    <td>...</td>
                </tr>
            `;
        }


        page.dialogs.commands.loadImageToCanvas = (imageFile) => {
            page.dialogs.elements.imagePreview.css("display", "");
            page.dialogs.elements.wrapper.addClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 0);

            let imageObj = new Image();

            imageObj.onload = function () {
                page.dialogs.elements.context.canvas.width = imageObj.width;
                page.dialogs.elements.context.canvas.height = imageObj.height;
                page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
            };

            imageObj.src = URL.createObjectURL(imageFile)
        }

        page.dialogs.commands.handleCreateProduct = () => {
            let formData = new FormData();
            formData.append("title", page.dialogs.elements.productTitleCre.val());
            formData.append("price", page.dialogs.elements.productPriceCre.val());
            formData.append("description", page.dialogs.elements.productDescriptionCre.val());
            formData.append("unit", page.dialogs.elements.productUnitCre.val());
            formData.append("categoryId", +page.dialogs.elements.productCategoryCre.val());
            formData.append("avatar", page.dialogs.elements.imageFileCre[0].files[0]);

            page.dialogs.commands.doCreate(formData);
        }

        page.dialogs.commands.doCreate = (formData) => {
            $.ajax({
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                url: page.urls.doCreate,
                data: formData
            })
                .done((data) => {
                    const str = page.commands.renderProduct(data);

                    page.elements.tbProductBody.prepend(str);

                    page.dialogs.elements.modalCreateProduct.modal('hide');
                })
                .fail((jqXHR) => {
                    console.log(jqXHR)
                })
        }


        page.loadData = () => {
            page.commands.getAllProducts();

            page.commands.getAllCategories();
        }

        page.initializeControlEvent = () => {
            page.dialogs.elements.canvasCre.on('click', () => {
                page.dialogs.elements.imageFileCre.trigger('click');
            })

            page.dialogs.elements.imageFileCre.on('change', () => {
                const imageFile = page.dialogs.elements.imageFileCre[0].files[0]
                page.dialogs.commands.loadImageToCanvas(imageFile)
            })

            page.dialogs.elements.btnCreate.on('click', () => {
                page.dialogs.commands.handleCreateProduct();
            })
        }

        $(() => {
            page.loadData();

            page.initializeControlEvent();
        })
    </script>

</body>

</html>