<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap/v-5.3.0/css/bootstrap.min.css">
    <script src="/assets/bootstrap/v-5.3.0/js/bootstrap.bundle.min.js"></script>

    <style>

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .content {
            width: 400px;
            height: 400px;
            /*display: flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*height: 100vh;*/
        }
    </style>
</head>
<body>
    <div class="container">
        <header>

        </header>

        <div class="content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane"
                            type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">Login
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane"
                            type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Register
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab"
                     tabindex="0">
                    <div class="col-lg-12">
                        <form>
                            <div class="mt-3 mb-3">
                                <label for="tbUsernameLog" class="form-label">Username</label>
                                <input type="email" class="form-control" id="tbUsernameLog">
                            </div>
                            <div class="mb-3">
                                <label for="tbPasswordLog" class="form-label">Password</label>
                                <input type="password" class="form-control" id="tbPasswordLog">
                            </div>
                            <button type="button" id="btnLogin" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
                    <div class="col-lg-12">
                        <form>
                            <div class="mt-3 mb-3">
                                <label for="tbUsernameReg" class="form-label">Username</label>
                                <input type="email" class="form-control" id="tbUsernameReg">
                            </div>
                            <div class="mb-3">
                                <label for="tbPasswordReg" class="form-label">Password</label>
                                <input type="password" class="form-control" id="tbPasswordReg">
                            </div>
                            <div class="mb-3">
                                <label for="roleReg" class="form-label">Role</label>
                                <select class="form-control" id="roleReg">
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                    <option value="3">CUSTOMER</option>
                                </select>
                            </div>

                            <button type="button" id="btnReg" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/jquery/jquery-3.7.0.min.js"></script>

    <script>
        const btnLogin = $('#btnLogin');
        const btnReg = $('#btnReg');

        btnLogin.on('click', () => {
            const username = $('#tbUsernameLog').val();
            const password = $('#tbPasswordLog').val();

            const obj = {
                username,
                password
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: 'http://localhost:8081/api/auth/login',
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    setTimeout(() => {
                        location.href = '/shop';
                    }, 1000);
                })
                .fail((jqXHR) => {
                    alert("Login fail");
                })
        })

        btnReg.on('click', () => {
            const username = $('#tbUsernameReg').val();
            const password = $('#tbPasswordReg').val();
            const roleId = +$('#roleReg').val();
            const roleCode = $('#roleReg').find('option:selected').text();

            const role = {
                id: roleId,
                code: roleCode
            }

            const obj = {
                username,
                password,
                role
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: 'http://localhost:8081/api/auth/register',
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    alert("Register success")

                    $('#login-tab').trigger('click');
                    $('#tbUsernameLog').val(username);
                    $('#tbPasswordLog').val(password);
                })
                .fail((jqXHR) => {
                    alert("Register fail");
                })
        })
    </script>

</body>
</html>